<%-include('header')%>
    <a style="float: left;" class="btn btn-secondary" href="/io-info">
        ← 목록으로
    </a><br><br><br>

    <h3>키보드 정보 수정</h3>
    <hr>
    <form action="<%= data.id %>" method="POST">
        <div class="mb-3 row">
            <label for="name" class="col-sm-2 col-form-label" style="text-align: right;">제품명</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="name" name='name' placeholder="제품명" value="<%= data.name%>">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="brand" class="col-sm-2 col-form-label" style="text-align: right;">브랜드명</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="brand" name='brand' placeholder="브랜드명" value="<%= data.brand%>">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="keytype" class="col-sm-2 col-form-label" style="text-align: right;">키보드 타입</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="keytype" name='keytype' placeholder="키보드 타입" value="<%= data.keytype%>">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="status" class="col-sm-2 col-form-label" style="text-align: right;">상태</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="state" name='status' placeholder="상태" value="<%= data.status%>">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="code" class="col-sm-2 col-form-label" style="text-align: right;">코드</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="code" name='code' placeholder="코드" value="<%= data.code%>">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="price" class="col-sm-2 col-form-label" style="text-align: right;">가격</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="price" name='price' placeholder="가격" value="<%= data.price%>">
            </div>
        </div>


        <div style="text-align: center;">
            <input type="submit" class="btn btn-primary" onclick="return confirm('수정하시겠습니까?');" value="수정" />
        </div>

    </form>


    <%-include('footer')%>